{% extends 'base.html' %}
<center><img src="{{ url_for('static', filename= filename) }}" align="right" alt=""
        style="width: 300px; height: 300px;"></center>
{% block content%}
<br>
<br>
{% if show==True %}
<center>
    {% if message=="healthy" %}
    <h3><span class="badge badge-success">{{message}}</span></h3>
</center>

      <blockquote> <p align = "center"> <br><h3><u>ข้อปฏิบัติตัวง่ายๆ เพื่อหลีกเลี่ยงการเกิดโรคปอดบวม </u></h3></p> <br>

    <p align = "center">
        <ol><li>ไม่สูบบุหรี่ เนื่องจากบุหรี่จะไปทำลายกระบวนการป้องกันการติดเชื้อในระบบทางเดินหายใจตามธรรมชาติของปอด</li>
        <li>ดูแลสุขอนามัยส่วนตัว เช่น หมั่นล้างมือเป็นประจำ และหลีกเลี่ยงการไปอยู่ในที่ที่มีผู้คนหนาแน่น</li>
        <li>หลีกเลี่ยงควันบุหรี่ ควันไฟ ควันจากท่อไอเสียรถยนต์ หรืออากาศที่หนาวเย็น</li>
        <li>เมื่อเป็นหวัด หรือไข้หวัดใหญ่อย่าปล่อยทิ้งไว้ ควรรักษาให้หายขาดแต่เนิ่นๆ</li>
        <li>นอนหลับพักผ่อนให้เพียงพอ และรับประทานอาหารที่มีประโยชน์ เพื่อสร้างระบบภูมิคุ้มกันให้แข็งแรง</li>
        <li>ออกกำลังกายอย่างสม่ำเสมอ</li>
        <li>ไม่ดื่มสุรามากจนมึนเมา เพราะอาจสำลักเอาเชื้อโรคจากปากเข้าปอด</li>
        <li>ฉีดวัคซีนป้องกันโรค เช่น วัคซีนป้องกันเชื้อฮิบ (Hib), วัคซีนป้องกันโรคติดเชื้อไอพีดีและวัคซีนป้องกันโรคไข้หวัดใหญ่</li>
    
        </ol></blockquote></p>
    {%endif%}

<center>{% if message=="pneumonic" %}
    <h3><span class="badge badge-danger">{{message}}</span></h3>
</center>

    <p align = "center" style="color:Red;"><h2><b>*** ควรปรึกษาแพทย์ หรือโทร 1669 ***</b></h2></p><br>
<left>      
    <p align = "left"><h3><u>อาการของคนเป็นโรคปอดบวม </u></h3></p><br>

        <blockquote>
            <ul><li>ไอมีเสมหะ </li>
            <li>เจ็บหน้าอกขณะหายใจหรือไอ</li>
            <li>หายใจเร็ว หายใจหอบ หายใจลำบาก</li>
            <li>มีไข้ เหงื่อออก หนาวสั่น</li>
            <li>คลื่นไส้ อาเจียน หรือท้องเสีย</li>
            <li>อ่อนเพลีย</li>
            <li>ผู้สูงอายุอาจมีอาการซึม ความรู้สึกสับสน อุณหภูมิร่างกายต่ำกว่าปกติ</li>
            <li>เด็กเล็กอาจมีอาการท้องอืด อาเจียน ซึม ไม่ดูดนมหรือน้ำ</li>
        </ul></blockquote>
        <i>-ทั้งนี้ ระดับความรุนแรงของอาการจะแตกต่างกันไปในผู้ป่วยแต่ละราย ขึ้นอยู่กับชนิดของเชื้อโรคที่ทำให้เกิดการติดเชื้อ อายุ และสุขภาพโดยรวมของผู้ป่วย-</i>



        <p align = "left"> <h3><u>การรักษาโรคปอดบวม </u></h3> </p><br>

        <blockquote>
            <ul> การรักษาโรคปอดอักเสบจากการติดเชื้อ เป็นการรักษาการติดเชื้อร่วมกับการป้องกันภาวะแทรกซ้อนที่อาจเกิดขึ้น โดยทางเลือกในการรักษาประกอบด้วย
            <li>การให้ยาปฏิชีวนะ ใช้ในกรณีของการติดเชื้อแบคทีเรีย โดยแพทย์จะเลือกใช้ยาปฏิชีวนะตามเชื้อที่คิดว่าเป็นสาเหตุของโรคจากข้อมูลทางคลินิกและทางระบาดวิทยา อย่างไรก็ตาม ปัจจุบันพบว่าการใช้ยาปฏิชีวนะอย่างแพร่หลายอาจทำให้เชื้อบางชนิด เช่น Streptococcus pneumoniae มีการดื้อยาเพิ่มมากขึ้น </li>
            <li>การรักษาแบบประคับประคองตามอาการ สำหรับผู้ป่วยโรคปอดอักเสบจากเชื้อไวรัส และเชื้ออื่นๆ ซึ่งแพทย์อาจพิจารณาให้ยาลดไข้ ยาขยายหลอดลม ยาละลายเสมหะ ในรายที่มีอาการรุนแรงอาจจำเป็นต้องให้สารน้ำทางหลอดเลือดดำ ให้ออกซิเจน และทำกายภาพบำบัดทรวงอก เป็นต้น</li>
            <li>การรักษาภาวะแทรกซ้อน เป็นกรณีที่พบได้ในกลุ่มเสี่ยง โดยภาวะแทรกซ้อนที่พบบ่อยได้แก่ เชื้อแบคทีเรียแพร่กระจายจากปอดเข้าสู่กระแสเลือดส่งผลให้อวัยวะอื่นๆ ติดเชื้อตามไปด้วย บางรายอาจพบฝีในปอด หรือเกิดภาวะมีน้ำในโพรงเยื่อหุ้มปอดที่จำเป็นต้องเจาะหรือดูดออก ในรายที่อาการรุนแรงมาก ผู้ป่วยอาจเกิดภาวะหายใจล้มเหลวซึ่งเป็นอันตรายถึงชีวิตและจำเป็นต้องใส่ท่อเข้าหลอดลมร่วมกับเครื่องช่วยหายใจ</li>
        </ul> </blockquote>
        <br>
        <br>
    </left>  
    {%endif%}
    

    <center><a href="/" class="btn btn-info" role="button">Go Back</a></center>
{% else %}
<center>
    <form action="/" method="POST" enctype="multipart/form-data">
        <br>
        <a name="A0">
        <label for="file">Please Upload Image for Chest X-Ray: </label>
        <input type="file" name="img" id="img">
        <button type="submit" class="btnbtn-primaryml-3">Submit</button>
        </a>
    </form>
    <br>
    <br>
    {{message}}
</center>
{% endif %}
{% endblock%}